
fastapi
uvicorn
numpy
pandas
scikit-learn
xgboost
python-dotenv
google-generativeai
pydantic
python-multipart

langchain
langchain-community
langchain-google-genai

faiss-cpu
sentence-transformers

pypdf